body {
    background-color: black;
}
.images {
    width: 300px;
    height: 300px;
}
.images-border-radius {
    border-radius: 70px;
}
.images-kenya-hara {
    mask: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path d="M 0, 100 C 0, 23 23, 0 100, 0 S 200, 23 200, 100 177, 200 100, 200 0, 177 0, 100" fill="white"></path></svg>');
    mask-size: 100% 100%;
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path d="M 0, 100 C 0, 23 23, 0 100, 0 S 200, 23 200, 100 177, 200 100, 200 0, 177 0, 100" fill="white"></path></svg>');
    border-radius: 0;
}
.flex {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}